.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  width: calc(200px * 5 + 20px * 5 + 120px);
  margin: 0 auto;
}

.carousel {
  padding: 10px 0px 10px 0px;
  width: calc(200px * 5 + 20px * 5);

  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  margin: 0 auto;
}


.card {
  flex: 0 0 auto;
  width: 200px;
  height: 150px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s, background-color 0.1s;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover,
.card.active {
  transform: scale(1.05);
  background-color: #3b82f6;
  color: white;
}

.icon {
  font-size: 3em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 40px;
}

.scroll-button.left {
  left: 0;
  background-color: transparent;
  color: black;
  width: 100px;
  height: 100px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.scroll-button.left:hover {
  color: #007bff;
}


.scroll-button.right {
  right: 0;
  background-color: transparent;
  color: black;
  width: 100px;
  height: 100px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.scroll-button.right:hover {
  color: #007bff;
}