.footer {
  background-color: #f3f4f6;
}

.footer-container {
  width: 75%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-title {
  font-weight: bold;
  font-size: 1.875rem;
  border-bottom: 2px solid #d1d5db;
  padding-bottom: 1.5rem;
  text-align: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}


.footer-section {
  text-align: center;
}

.footer-heading {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2937;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-item {
  margin-bottom: 1rem;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  width: 5%;
  display: block;
  margin: 0 auto;
}



.footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}