/* LoginPage.css */
.login-section {
    background-color: #f8fafc;
    padding: 2rem 0;
    min-height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 26rem;
    justify-content: center;
    padding: 1.5rem;
    margin: 1.75rem auto;
    height: 60vh;
}

.login-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #007bff;

    /* text-gray-900 */
}

.login-logo img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.login-card {
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-card-content {
    padding: 1.5rem;
    height: 100%;

}

.login-title {
    font-size: 1.25rem;
    font-weight: 800;
    color: #1f2937;
    line-height: 1.25;
    letter-spacing: 0.025em;
    text-align: left;
    margin-bottom: 20px;
}


.email {
    margin-bottom: 20px;
}

.password {
    margin-bottom: 10px;
    position: relative;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;
    text-align: left;
}

.login-form input {
    background-color: #f1f5f9;
    border: 1px solid #d1d5db;
    color: #1f2937;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem;
}



.login-form .password-toggle {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    color: #9ca3af;
    cursor: pointer;

}

.login-form .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}



.login-form .forgot-password {
    font-size: 0.875rem;
    color: #2563eb;
    text-decoration: underline;
}

.login-form .submit-button {
    width: 100%;
    color: #ffffff;
    background-color: #007bff;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.login-form .submit-button:hover {
    background-color: #0056b3;
}

.login-form .signup-link {
    font-size: 0.875rem;
    font-weight: 200;
    color: #6b7280;
    text-align: left;
}

.login-form .signup-link a {
    font-weight: 400;
    color: #2563eb;
    text-decoration: underline;
}