h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  /* 添加间隙 */
}

.search-container input[type="search"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.import-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.1s;
}

.btn:active {
  transform: translateY(1px);
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  /* 增加宽度 */
  transition: background-color 0.3s;

}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #95a5a6;
  color: white;
}

.btn-secondary:hover {
  background-color: #6f797a;
}

.btn-danger {
  background-color: #e74c3c;
  color: white;
}

.btn-danger:hover {
  background-color: #c0392b;
}

.btn-download {
  background-color: #2ab765;
  color: white;
}

.btn-download:hover {
  background-color: #1c8b4a;
  color: white;
}

.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  margin-top: 50px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content h2 {
  margin-top: 0;
  color: #2c3e50;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
  font-weight: bold;
  color: #34495e;
}

.modal-content input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  margin-left: 10px;
}

.download-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.delete-icon {
  color: #dc3545;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.delete-icon:hover {
  color: #c82333;
  cursor: pointer;
}

.download-icon {
  font-size: 1.5rem;
  color: #2ab765;

}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.download-icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}