.verify-email-section {
  background-color: #f8fafc;
  padding: 2rem 0;
  min-height: 100vh;
}


.verify-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40vh;
  background-color: #fff;
  margin: auto;
  margin-top: 10vh;
}

.verify-email-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.verify-email-input {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.verify-email-input.error {
  border-color: red;
}